<%= link_to 'Clean trash', '/trash/clean', class: 'btn btn-danger '%>
<%= link_to 'Restore All', '/trash/restore_all', class: 'btn btn-success '%>

<h3 class = 'mb-4 mt-4'> Trash: </h3>

<% if !@cars.empty? %>
    <div class="d-flex align-content-center flex-wrap ">
        <% @cars.each do |car| %>
            <%= render 'shared/card_form', object: car, btn: 'cars' %>
        <% end %>
    </div>
<% end %>

<% if !@races.empty? %>
    <div class="d-flex align-content-center flex-wrap ">
        <% @races.each do |race| %>
            <%= render 'shared/card_form', object: race, btn: 'races'%>
        <% end %>
    </div>
<% end %>


