<div class="card mb-2 mx-2" style="max-width: 12rem; max-height: 12rem;"> 
  <div class="card-body">
    <h5 class="card-title"><%= object.name %></h5>
    <p class="card-text text-truncate">
      <%= object.description %>
    </p>
  </div>
  <div class="card-footer">
    <%= link_to 'View', "#{btn}/#{object.id}", class: 'btn btn-secondary '%>
    <%= link_to 'Restore', "/trash/#{object.id}/restore_#{btn.chop()}", class: 'btn btn-success'%>
  </div>
</div>
