<h4 class= 'mb-4'>FAQs screen</h4>
<br>
<h5  class= 'mb-4'>
<div class="text-center">
  1. You need to create Cars <br>
    (Go to 'Cars'/Add Car)
    <br>
  2. You need to start Drag <br>
    (Go to 'Drag'/Select cars/Start drag)
    <br>
</div>
</h5>
