<div class="card mb-2 mx-2" style="max-width: 12rem; max-height: 12rem;">
  <div class="card-body">
    <h5 class="card-title"><%= car.name %></h5>
    <p class="card-text text-truncate">
      <%= car.description %>
    </p>
  </div>
  <div class="card-footer">
    <%= link_to 'View', car_path(car), class: 'btn btn-secondary'%>
    <%= link_to 'Delete', car_path(car), data: {method: :delete, confirm: "Are you sure?"}, class: 'btn btn-danger ' %>
  </div>
</div>
