<div class="card-body">
  <%= link_to '+ Add car', new_car_path, class: 'btn btn-success '%>
</div>
<h3 class= 'mb-4'>Cars:</h3>
<div class="d-flex align-content-center flex-wrap ">
  <%= render @cars %>
</div>
