<h3 class= 'mb-4'>Drag</h3>
<br>

<h4 class= 'mb-4'>
Cars selected 0/2
</h4>
<br>


<!-- <div class="card-deck"> -->
<div class="d-flex align-content-center flex-wrap">
<% @cars.each do |car| %>
  <div class="card mb-2 mx-2" style="max-width: 14rem;">
    <div class="card-body">
      <h5 class="card-title"><%= car.name %></h5>
      <p class="card-text"><%= car.description %></p>
    </div>
    <div class="card-footer">
      <%= link_to 'Select', drag_path, class: 'btn btn-success' %>
      <%= link_to 'View', car_path(car), class: 'btn btn-secondary ' %>
    </div>
  </div>

<% end %>
</div>
